$icomoon-font-family: "FontAwesomeIconsSolid" !default;
$icomoon-font-path: "./src/Assets/fonts/icons/solid/fonts" !default;

$fa-icon-solid-z: "\e900";
$fa-icon-solid-yin-yang: "\e901";
$fa-icon-solid-yen-sign: "\e902";
$fa-icon-solid-y: "\e903";
$fa-icon-solid-xmarks-lines: "\e904";
$fa-icon-solid-xmark: "\e905";
$fa-icon-solid-x: "\e906";
$fa-icon-solid-x-ray: "\e907";
$fa-icon-solid-wrench: "\e908";
$fa-icon-solid-worm: "\e909";
$fa-icon-solid-won-sign: "\e90a";
$fa-icon-solid-wine-glass: "\e90b";
$fa-icon-solid-wine-glass-empty: "\e90c";
$fa-icon-solid-wine-bottle: "\e90d";
$fa-icon-solid-window-restore: "\e90e";
$fa-icon-solid-window-minimize: "\e90f";
$fa-icon-solid-window-maximize: "\e910";
$fa-icon-solid-wind: "\e911";
$fa-icon-solid-wifi: "\e912";
$fa-icon-solid-whiskey-glass: "\e913";
$fa-icon-solid-wheelchair: "\e914";
$fa-icon-solid-wheelchair-move: "\e915";
$fa-icon-solid-wheat-awn: "\e916";
$fa-icon-solid-wheat-awn-circle-exclamation: "\e917";
$fa-icon-solid-weight-scale: "\e918";
$fa-icon-solid-weight-hanging: "\e919";
$fa-icon-solid-wave-square: "\e91a";
$fa-icon-solid-water: "\e91b";
$fa-icon-solid-water-ladder: "\e91c";
$fa-icon-solid-warehouse: "\e91d";
$fa-icon-solid-wand-sparkles: "\e91e";
$fa-icon-solid-wand-magic: "\e91f";
$fa-icon-solid-wand-magic-sparkles: "\e920";
$fa-icon-solid-wallet: "\e921";
$fa-icon-solid-walkie-talkie: "\e922";
$fa-icon-solid-w: "\e923";
$fa-icon-solid-vr-cardboard: "\e924";
$fa-icon-solid-volume-xmark: "\e925";
$fa-icon-solid-volume-off: "\e926";
$fa-icon-solid-volume-low: "\e927";
$fa-icon-solid-volume-high: "\e928";
$fa-icon-solid-volleyball: "\e929";
$fa-icon-solid-volcano: "\e92a";
$fa-icon-solid-voicemail: "\e92b";
$fa-icon-solid-viruses: "\e92c";
$fa-icon-solid-virus: "\e92d";
$fa-icon-solid-virus-slash: "\e92e";
$fa-icon-solid-virus-covid: "\e92f";
$fa-icon-solid-virus-covid-slash: "\e930";
$fa-icon-solid-vihara: "\e931";
$fa-icon-solid-video: "\e932";
$fa-icon-solid-video-slash: "\e933";
$fa-icon-solid-vials: "\e934";
$fa-icon-solid-vial: "\e935";
$fa-icon-solid-vial-virus: "\e936";
$fa-icon-solid-vial-circle-check: "\e937";
$fa-icon-solid-vest: "\e938";
$fa-icon-solid-vest-patches: "\e939";
$fa-icon-solid-venus: "\e93a";
$fa-icon-solid-venus-mars: "\e93b";
$fa-icon-solid-venus-double: "\e93c";
$fa-icon-solid-vector-square: "\e93d";
$fa-icon-solid-vault: "\e93e";
$fa-icon-solid-van-shuttle: "\e93f";
$fa-icon-solid-v: "\e940";
$fa-icon-solid-utensils: "\e941";
$fa-icon-solid-users: "\e942";
$fa-icon-solid-users-viewfinder: "\e943";
$fa-icon-solid-users-slash: "\e944";
$fa-icon-solid-users-rectangle: "\e945";
$fa-icon-solid-users-rays: "\e946";
$fa-icon-solid-users-line: "\e947";
$fa-icon-solid-users-gear: "\e948";
$fa-icon-solid-users-between-lines: "\e949";
$fa-icon-solid-user: "\e94a";
$fa-icon-solid-user-xmark: "\e94b";
$fa-icon-solid-user-tie: "\e94c";
$fa-icon-solid-user-tag: "\e94d";
$fa-icon-solid-user-slash: "\e94e";
$fa-icon-solid-user-shield: "\e94f";
$fa-icon-solid-user-secret: "\e950";
$fa-icon-solid-user-plus: "\e951";
$fa-icon-solid-user-pen: "\e952";
$fa-icon-solid-user-nurse: "\e953";
$fa-icon-solid-user-ninja: "\e954";
$fa-icon-solid-user-minus: "\e955";
$fa-icon-solid-user-lock: "\e956";
$fa-icon-solid-user-large: "\e957";
$fa-icon-solid-user-large-slash: "\e958";
$fa-icon-solid-user-injured: "\e959";
$fa-icon-solid-user-group: "\e95a";
$fa-icon-solid-user-graduate: "\e95b";
$fa-icon-solid-user-gear: "\e95c";
$fa-icon-solid-user-doctor: "\e95d";
$fa-icon-solid-user-clock: "\e95e";
$fa-icon-solid-user-check: "\e95f";
$fa-icon-solid-user-astronaut: "\e960";
$fa-icon-solid-upload: "\e961";
$fa-icon-solid-up-right-from-square: "\e962";
$fa-icon-solid-up-right-and-down-left-from-center: "\e963";
$fa-icon-solid-up-long: "\e964";
$fa-icon-solid-up-down: "\e965";
$fa-icon-solid-up-down-left-right: "\e966";
$fa-icon-solid-unlock: "\e967";
$fa-icon-solid-unlock-keyhole: "\e968";
$fa-icon-solid-universal-access: "\e969";
$fa-icon-solid-underline: "\e96a";
$fa-icon-solid-umbrella: "\e96b";
$fa-icon-solid-umbrella-beach: "\e96c";
$fa-icon-solid-u: "\e96d";
$fa-icon-solid-tv: "\e96e";
$fa-icon-solid-turn-up: "\e96f";
$fa-icon-solid-turn-down: "\e970";
$fa-icon-solid-turkish-lira-sign: "\e971";
$fa-icon-solid-tty: "\e972";
$fa-icon-solid-truck: "\e973";
$fa-icon-solid-truck-ramp-box: "\e974";
$fa-icon-solid-truck-plane: "\e975";
$fa-icon-solid-truck-pickup: "\e976";
$fa-icon-solid-truck-moving: "\e977";
$fa-icon-solid-truck-monster: "\e978";
$fa-icon-solid-truck-medical: "\e979";
$fa-icon-solid-truck-front: "\e97a";
$fa-icon-solid-truck-field: "\e97b";
$fa-icon-solid-truck-field-un: "\e97c";
$fa-icon-solid-truck-fast: "\e97d";
$fa-icon-solid-truck-droplet: "\e97e";
$fa-icon-solid-truck-arrow-right: "\e97f";
$fa-icon-solid-trowel: "\e980";
$fa-icon-solid-trowel-bricks: "\e981";
$fa-icon-solid-trophy: "\e982";
$fa-icon-solid-triangle-exclamation: "\e983";
$fa-icon-solid-tree: "\e984";
$fa-icon-solid-tree-city: "\e985";
$fa-icon-solid-trash: "\e986";
$fa-icon-solid-trash-can: "\e987";
$fa-icon-solid-trash-can-arrow-up: "\e988";
$fa-icon-solid-trash-arrow-up: "\e989";
$fa-icon-solid-transgender: "\e98a";
$fa-icon-solid-train: "\e98b";
$fa-icon-solid-train-tram: "\e98c";
$fa-icon-solid-train-subway: "\e98d";
$fa-icon-solid-trailer: "\e98e";
$fa-icon-solid-traffic-light: "\e98f";
$fa-icon-solid-trademark: "\e990";
$fa-icon-solid-tractor: "\e991";
$fa-icon-solid-tower-observation: "\e992";
$fa-icon-solid-tower-cell: "\e993";
$fa-icon-solid-tower-broadcast: "\e994";
$fa-icon-solid-tornado: "\e995";
$fa-icon-solid-torii-gate: "\e996";
$fa-icon-solid-tooth: "\e997";
$fa-icon-solid-toolbox: "\e998";
$fa-icon-solid-toilets-portable: "\e999";
$fa-icon-solid-toilet: "\e99a";
$fa-icon-solid-toilet-portable: "\e99b";
$fa-icon-solid-toilet-paper: "\e99c";
$fa-icon-solid-toilet-paper-slash: "\e99d";
$fa-icon-solid-toggle-on: "\e99e";
$fa-icon-solid-toggle-off: "\e99f";
$fa-icon-solid-timeline: "\e9a0";
$fa-icon-solid-ticket: "\e9a1";
$fa-icon-solid-ticket-simple: "\e9a2";
$fa-icon-solid-thumbtack: "\e9a3";
$fa-icon-solid-thumbs-up: "\e9a4";
$fa-icon-solid-thumbs-down: "\e9a5";
$fa-icon-solid-thermometer: "\e9a6";
$fa-icon-solid-text-width: "\e9a7";
$fa-icon-solid-text-slash: "\e9a8";
$fa-icon-solid-text-height: "\e9a9";
$fa-icon-solid-terminal: "\e9aa";
$fa-icon-solid-tents: "\e9ab";
$fa-icon-solid-tent: "\e9ac";
$fa-icon-solid-tent-arrows-down: "\e9ad";
$fa-icon-solid-tent-arrow-turn-left: "\e9ae";
$fa-icon-solid-tent-arrow-left-right: "\e9af";
$fa-icon-solid-tent-arrow-down-to-line: "\e9b0";
$fa-icon-solid-tenge-sign: "\e9b1";
$fa-icon-solid-temperature-three-quarters: "\e9b2";
$fa-icon-solid-temperature-quarter: "\e9b3";
$fa-icon-solid-temperature-low: "\e9b4";
$fa-icon-solid-temperature-high: "\e9b5";
$fa-icon-solid-temperature-half: "\e9b6";
$fa-icon-solid-temperature-full: "\e9b7";
$fa-icon-solid-temperature-empty: "\e9b8";
$fa-icon-solid-temperature-arrow-up: "\e9b9";
$fa-icon-solid-temperature-arrow-down: "\e9ba";
$fa-icon-solid-teeth: "\e9bb";
$fa-icon-solid-teeth-open: "\e9bc";
$fa-icon-solid-taxi: "\e9bd";
$fa-icon-solid-tarp: "\e9be";
$fa-icon-solid-tarp-droplet: "\e9bf";
$fa-icon-solid-tape: "\e9c0";
$fa-icon-solid-tags: "\e9c1";
$fa-icon-solid-tag: "\e9c2";
$fa-icon-solid-tachograph-digital: "\e9c3";
$fa-icon-solid-tablets: "\e9c4";
$fa-icon-solid-tablet: "\e9c5";
$fa-icon-solid-tablet-screen-button: "\e9c6";
$fa-icon-solid-tablet-button: "\e9c7";
$fa-icon-solid-table: "\e9c8";
$fa-icon-solid-table-tennis-paddle-ball: "\e9c9";
$fa-icon-solid-table-list: "\e9ca";
$fa-icon-solid-table-columns: "\e9cb";
$fa-icon-solid-table-cells: "\e9cc";
$fa-icon-solid-table-cells-large: "\e9cd";
$fa-icon-solid-t: "\e9ce";
$fa-icon-solid-syringe: "\e9cf";
$fa-icon-solid-synagogue: "\e9d0";
$fa-icon-solid-swatchbook: "\e9d1";
$fa-icon-solid-superscript: "\e9d2";
$fa-icon-solid-sun: "\e9d3";
$fa-icon-solid-sun-plant-wilt: "\e9d4";
$fa-icon-solid-suitcase: "\e9d5";
$fa-icon-solid-suitcase-rolling: "\e9d6";
$fa-icon-solid-suitcase-medical: "\e9d7";
$fa-icon-solid-subscript: "\e9d8";
$fa-icon-solid-stroopwafel: "\e9d9";
$fa-icon-solid-strikethrough: "\e9da";
$fa-icon-solid-street-view: "\e9db";
$fa-icon-solid-store: "\e9dc";
$fa-icon-solid-store-slash: "\e9dd";
$fa-icon-solid-stopwatch: "\e9de";
$fa-icon-solid-stopwatch-20: "\e9df";
$fa-icon-solid-stop: "\e9e0";
$fa-icon-solid-stethoscope: "\e9e1";
$fa-icon-solid-sterling-sign: "\e9e2";
$fa-icon-solid-star: "\e9e3";
$fa-icon-solid-star-of-life: "\e9e4";
$fa-icon-solid-star-of-david: "\e9e5";
$fa-icon-solid-star-half: "\e9e6";
$fa-icon-solid-star-half-stroke: "\e9e7";
$fa-icon-solid-star-and-crescent: "\e9e8";
$fa-icon-solid-stapler: "\e9e9";
$fa-icon-solid-stamp: "\e9ea";
$fa-icon-solid-stairs: "\e9eb";
$fa-icon-solid-staff-snake: "\e9ec";
$fa-icon-solid-square: "\e9ed";
$fa-icon-solid-square-xmark: "\e9ee";
$fa-icon-solid-square-virus: "\e9ef";
$fa-icon-solid-square-up-right: "\e9f0";
$fa-icon-solid-square-share-nodes: "\e9f1";
$fa-icon-solid-square-rss: "\e9f2";
$fa-icon-solid-square-root-variable: "\e9f3";
$fa-icon-solid-square-poll-vertical: "\e9f4";
$fa-icon-solid-square-poll-horizontal: "\e9f5";
$fa-icon-solid-square-plus: "\e9f6";
$fa-icon-solid-square-phone: "\e9f7";
$fa-icon-solid-square-phone-flip: "\e9f8";
$fa-icon-solid-square-person-confined: "\e9f9";
$fa-icon-solid-square-pen: "\e9fa";
$fa-icon-solid-square-parking: "\e9fb";
$fa-icon-solid-square-nfi: "\e9fc";
$fa-icon-solid-square-minus: "\e9fd";
$fa-icon-solid-square-h: "\e9fe";
$fa-icon-solid-square-full: "\e9ff";
$fa-icon-solid-square-envelope: "\ea00";
$fa-icon-solid-square-check: "\ea01";
$fa-icon-solid-square-caret-up: "\ea02";
$fa-icon-solid-square-caret-right: "\ea03";
$fa-icon-solid-square-caret-left: "\ea04";
$fa-icon-solid-square-caret-down: "\ea05";
$fa-icon-solid-square-arrow-up-right: "\ea06";
$fa-icon-solid-spray-can: "\ea07";
$fa-icon-solid-spray-can-sparkles: "\ea08";
$fa-icon-solid-spoon: "\ea09";
$fa-icon-solid-splotch: "\ea0a";
$fa-icon-solid-spinner: "\ea0b";
$fa-icon-solid-spider: "\ea0c";
$fa-icon-solid-spell-check: "\ea0d";
$fa-icon-solid-spaghetti-monster-flying: "\ea0e";
$fa-icon-solid-spa: "\ea0f";
$fa-icon-solid-sort: "\ea10";
$fa-icon-solid-sort-up: "\ea11";
$fa-icon-solid-sort-down: "\ea12";
$fa-icon-solid-solar-panel: "\ea13";
$fa-icon-solid-socks: "\ea14";
$fa-icon-solid-soap: "\ea15";
$fa-icon-solid-snowplow: "\ea16";
$fa-icon-solid-snowman: "\ea17";
$fa-icon-solid-snowflake: "\ea18";
$fa-icon-solid-smoking: "\ea19";
$fa-icon-solid-smog: "\ea1a";
$fa-icon-solid-sliders: "\ea1b";
$fa-icon-solid-sleigh: "\ea1c";
$fa-icon-solid-slash: "\ea1d";
$fa-icon-solid-skull: "\ea1e";
$fa-icon-solid-skull-crossbones: "\ea1f";
$fa-icon-solid-sitemap: "\ea20";
$fa-icon-solid-sink: "\ea21";
$fa-icon-solid-sim-card: "\ea22";
$fa-icon-solid-signs-post: "\ea23";
$fa-icon-solid-signature: "\ea24";
$fa-icon-solid-signal: "\ea25";
$fa-icon-solid-sign-hanging: "\ea26";
$fa-icon-solid-shuttle-space: "\ea27";
$fa-icon-solid-shuffle: "\ea28";
$fa-icon-solid-shrimp: "\ea29";
$fa-icon-solid-shower: "\ea2a";
$fa-icon-solid-shop: "\ea2b";
$fa-icon-solid-shop-slash: "\ea2c";
$fa-icon-solid-shop-lock: "\ea2d";
$fa-icon-solid-shoe-prints: "\ea2e";
$fa-icon-solid-shirt: "\ea2f";
$fa-icon-solid-ship: "\ea30";
$fa-icon-solid-shield: "\ea31";
$fa-icon-solid-shield-virus: "\ea32";
$fa-icon-solid-shield-heart: "\ea33";
$fa-icon-solid-shield-halved: "\ea34";
$fa-icon-solid-shield-dog: "\ea35";
$fa-icon-solid-shield-cat: "\ea36";
$fa-icon-solid-shekel-sign: "\ea37";
$fa-icon-solid-sheet-plastic: "\ea38";
$fa-icon-solid-share: "\ea39";
$fa-icon-solid-share-nodes: "\ea3a";
$fa-icon-solid-share-from-square: "\ea3b";
$fa-icon-solid-shapes: "\ea3c";
$fa-icon-solid-server: "\ea3d";
$fa-icon-solid-seedling: "\ea3e";
$fa-icon-solid-section: "\ea3f";
$fa-icon-solid-sd-card: "\ea40";
$fa-icon-solid-scroll: "\ea41";
$fa-icon-solid-scroll-torah: "\ea42";
$fa-icon-solid-screwdriver: "\ea43";
$fa-icon-solid-screwdriver-wrench: "\ea44";
$fa-icon-solid-scissors: "\ea45";
$fa-icon-solid-school: "\ea46";
$fa-icon-solid-school-lock: "\ea47";
$fa-icon-solid-school-flag: "\ea48";
$fa-icon-solid-school-circle-xmark: "\ea49";
$fa-icon-solid-school-circle-exclamation: "\ea4a";
$fa-icon-solid-school-circle-check: "\ea4b";
$fa-icon-solid-scale-unbalanced: "\ea4c";
$fa-icon-solid-scale-unbalanced-flip: "\ea4d";
$fa-icon-solid-scale-balanced: "\ea4e";
$fa-icon-solid-satellite: "\ea4f";
$fa-icon-solid-satellite-dish: "\ea50";
$fa-icon-solid-sailboat: "\ea51";
$fa-icon-solid-sack-xmark: "\ea52";
$fa-icon-solid-sack-dollar: "\ea53";
$fa-icon-solid-s: "\ea54";
$fa-icon-solid-rupiah-sign: "\ea55";
$fa-icon-solid-rupee-sign: "\ea56";
$fa-icon-solid-ruler: "\ea57";
$fa-icon-solid-ruler-vertical: "\ea58";
$fa-icon-solid-ruler-horizontal: "\ea59";
$fa-icon-solid-ruler-combined: "\ea5a";
$fa-icon-solid-rug: "\ea5b";
$fa-icon-solid-ruble-sign: "\ea5c";
$fa-icon-solid-rss: "\ea5d";
$fa-icon-solid-route: "\ea5e";
$fa-icon-solid-rotate: "\ea5f";
$fa-icon-solid-rotate-right: "\ea60";
$fa-icon-solid-rotate-left: "\ea61";
$fa-icon-solid-rocket: "\ea62";
$fa-icon-solid-robot: "\ea63";
$fa-icon-solid-road: "\ea64";
$fa-icon-solid-road-spikes: "\ea65";
$fa-icon-solid-road-lock: "\ea66";
$fa-icon-solid-road-circle-xmark: "\ea67";
$fa-icon-solid-road-circle-exclamation: "\ea68";
$fa-icon-solid-road-circle-check: "\ea69";
$fa-icon-solid-road-bridge: "\ea6a";
$fa-icon-solid-road-barrier: "\ea6b";
$fa-icon-solid-ring: "\ea6c";
$fa-icon-solid-right-to-bracket: "\ea6d";
$fa-icon-solid-right-long: "\ea6e";
$fa-icon-solid-right-left: "\ea6f";
$fa-icon-solid-right-from-bracket: "\ea70";
$fa-icon-solid-ribbon: "\ea71";
$fa-icon-solid-retweet: "\ea72";
$fa-icon-solid-restroom: "\ea73";
$fa-icon-solid-republican: "\ea74";
$fa-icon-solid-reply: "\ea75";
$fa-icon-solid-reply-all: "\ea76";
$fa-icon-solid-repeat: "\ea77";
$fa-icon-solid-registered: "\ea78";
$fa-icon-solid-recycle: "\ea79";
$fa-icon-solid-rectangle-xmark: "\ea7a";
$fa-icon-solid-rectangle-list: "\ea7b";
$fa-icon-solid-rectangle-ad: "\ea7c";
$fa-icon-solid-record-vinyl: "\ea7d";
$fa-icon-solid-receipt: "\ea7e";
$fa-icon-solid-ranking-star: "\ea7f";
$fa-icon-solid-rainbow: "\ea80";
$fa-icon-solid-radio: "\ea81";
$fa-icon-solid-radiation: "\ea82";
$fa-icon-solid-r: "\ea83";
$fa-icon-solid-quote-right: "\ea84";
$fa-icon-solid-quote-left: "\ea85";
$fa-icon-solid-question: "\ea86";
$fa-icon-solid-qrcode: "\ea87";
$fa-icon-solid-q: "\ea88";
$fa-icon-solid-puzzle-piece: "\ea89";
$fa-icon-solid-pump-soap: "\ea8a";
$fa-icon-solid-pump-medical: "\ea8b";
$fa-icon-solid-print: "\ea8c";
$fa-icon-solid-prescription: "\ea8d";
$fa-icon-solid-prescription-bottle: "\ea8e";
$fa-icon-solid-prescription-bottle-medical: "\ea8f";
$fa-icon-solid-power-off: "\ea90";
$fa-icon-solid-poop: "\ea91";
$fa-icon-solid-poo: "\ea92";
$fa-icon-solid-poo-storm: "\ea93";
$fa-icon-solid-podcast: "\ea94";
$fa-icon-solid-plus: "\ea95";
$fa-icon-solid-plus-minus: "\ea96";
$fa-icon-solid-plug: "\ea97";
$fa-icon-solid-plug-circle-xmark: "\ea98";
$fa-icon-solid-plug-circle-plus: "\ea99";
$fa-icon-solid-plug-circle-minus: "\ea9a";
$fa-icon-solid-plug-circle-exclamation: "\ea9b";
$fa-icon-solid-plug-circle-check: "\ea9c";
$fa-icon-solid-plug-circle-bolt: "\ea9d";
$fa-icon-solid-play: "\ea9e";
$fa-icon-solid-plate-wheat: "\ea9f";
$fa-icon-solid-plant-wilt: "\eaa0";
$fa-icon-solid-plane: "\eaa1";
$fa-icon-solid-plane-up: "\eaa2";
$fa-icon-solid-plane-slash: "\eaa3";
$fa-icon-solid-plane-lock: "\eaa4";
$fa-icon-solid-plane-departure: "\eaa5";
$fa-icon-solid-plane-circle-xmark: "\eaa6";
$fa-icon-solid-plane-circle-exclamation: "\eaa7";
$fa-icon-solid-plane-circle-check: "\eaa8";
$fa-icon-solid-plane-arrival: "\eaa9";
$fa-icon-solid-place-of-worship: "\eaaa";
$fa-icon-solid-pizza-slice: "\eaab";
$fa-icon-solid-pills: "\eaac";
$fa-icon-solid-piggy-bank: "\eaad";
$fa-icon-solid-photo-film: "\eaae";
$fa-icon-solid-phone: "\eaaf";
$fa-icon-solid-phone-volume: "\eab0";
$fa-icon-solid-phone-slash: "\eab1";
$fa-icon-solid-phone-flip: "\eab2";
$fa-icon-solid-peso-sign: "\eab3";
$fa-icon-solid-peseta-sign: "\eab4";
$fa-icon-solid-person: "\eab5";
$fa-icon-solid-person-walking: "\eab6";
$fa-icon-solid-person-walking-with-cane: "\eab7";
$fa-icon-solid-person-walking-luggage: "\eab8";
$fa-icon-solid-person-walking-dashed-line-arrow-right: "\eab9";
$fa-icon-solid-person-walking-arrow-right: "\eaba";
$fa-icon-solid-person-walking-arrow-loop-left: "\eabb";
$fa-icon-solid-person-through-window: "\eabc";
$fa-icon-solid-person-swimming: "\eabd";
$fa-icon-solid-person-snowboarding: "\eabe";
$fa-icon-solid-person-skiing: "\eabf";
$fa-icon-solid-person-skiing-nordic: "\eac0";
$fa-icon-solid-person-skating: "\eac1";
$fa-icon-solid-person-shelter: "\eac2";
$fa-icon-solid-person-running: "\eac3";
$fa-icon-solid-person-rifle: "\eac4";
$fa-icon-solid-person-rays: "\eac5";
$fa-icon-solid-person-pregnant: "\eac6";
$fa-icon-solid-person-praying: "\eac7";
$fa-icon-solid-person-military-to-person: "\eac8";
$fa-icon-solid-person-military-rifle: "\eac9";
$fa-icon-solid-person-military-pointing: "\eaca";
$fa-icon-solid-person-hiking: "\eacb";
$fa-icon-solid-person-harassing: "\eacc";
$fa-icon-solid-person-half-dress: "\eacd";
$fa-icon-solid-person-falling: "\eace";
$fa-icon-solid-person-falling-burst: "\eacf";
$fa-icon-solid-person-drowning: "\ead0";
$fa-icon-solid-person-dress: "\ead1";
$fa-icon-solid-person-dress-burst: "\ead2";
$fa-icon-solid-person-dots-from-line: "\ead3";
$fa-icon-solid-person-digging: "\ead4";
$fa-icon-solid-person-circle-xmark: "\ead5";
$fa-icon-solid-person-circle-question: "\ead6";
$fa-icon-solid-person-circle-plus: "\ead7";
$fa-icon-solid-person-circle-minus: "\ead8";
$fa-icon-solid-person-circle-exclamation: "\ead9";
$fa-icon-solid-person-circle-check: "\eada";
$fa-icon-solid-person-chalkboard: "\eadb";
$fa-icon-solid-person-cane: "\eadc";
$fa-icon-solid-person-burst: "\eadd";
$fa-icon-solid-person-breastfeeding: "\eade";
$fa-icon-solid-person-booth: "\eadf";
$fa-icon-solid-person-biking: "\eae0";
$fa-icon-solid-person-arrow-up-from-line: "\eae1";
$fa-icon-solid-person-arrow-down-to-line: "\eae2";
$fa-icon-solid-percent: "\eae3";
$fa-icon-solid-pepper-hot: "\eae4";
$fa-icon-solid-people-roof: "\eae5";
$fa-icon-solid-people-robbery: "\eae6";
$fa-icon-solid-people-pulling: "\eae7";
$fa-icon-solid-people-line: "\eae8";
$fa-icon-solid-people-group: "\eae9";
$fa-icon-solid-people-carry-box: "\eaea";
$fa-icon-solid-people-arrows: "\eaeb";
$fa-icon-solid-pencil: "\eaec";
$fa-icon-solid-pen: "\eaed";
$fa-icon-solid-pen-to-square: "\eaee";
$fa-icon-solid-pen-ruler: "\eaef";
$fa-icon-solid-pen-nib: "\eaf0";
$fa-icon-solid-pen-fancy: "\eaf1";
$fa-icon-solid-pen-clip: "\eaf2";
$fa-icon-solid-peace: "\eaf3";
$fa-icon-solid-paw: "\eaf4";
$fa-icon-solid-pause: "\eaf5";
$fa-icon-solid-paste: "\eaf6";
$fa-icon-solid-passport: "\eaf7";
$fa-icon-solid-paragraph: "\eaf8";
$fa-icon-solid-parachute-box: "\eaf9";
$fa-icon-solid-paperclip: "\eafa";
$fa-icon-solid-paper-plane: "\eafb";
$fa-icon-solid-panorama: "\eafc";
$fa-icon-solid-pallet: "\eafd";
$fa-icon-solid-palette: "\eafe";
$fa-icon-solid-paintbrush: "\eaff";
$fa-icon-solid-paint-roller: "\eb00";
$fa-icon-solid-pager: "\eb01";
$fa-icon-solid-p: "\eb02";
$fa-icon-solid-outdent: "\eb03";
$fa-icon-solid-otter: "\eb04";
$fa-icon-solid-om: "\eb05";
$fa-icon-solid-oil-well: "\eb06";
$fa-icon-solid-oil-can: "\eb07";
$fa-icon-solid-object-ungroup: "\eb08";
$fa-icon-solid-object-group: "\eb09";
$fa-icon-solid-o: "\eb0a";
$fa-icon-solid-notes-medical: "\eb0b";
$fa-icon-solid-note-sticky: "\eb0c";
$fa-icon-solid-not-equal: "\eb0d";
$fa-icon-solid-newspaper: "\eb0e";
$fa-icon-solid-neuter: "\eb0f";
$fa-icon-solid-network-wired: "\eb10";
$fa-icon-solid-naira-sign: "\eb11";
$fa-icon-solid-n: "\eb12";
$fa-icon-solid-music: "\eb13";
$fa-icon-solid-mug-saucer: "\eb14";
$fa-icon-solid-mug-hot: "\eb15";
$fa-icon-solid-mountain: "\eb16";
$fa-icon-solid-mountain-sun: "\eb17";
$fa-icon-solid-mountain-city: "\eb18";
$fa-icon-solid-mound: "\eb19";
$fa-icon-solid-motorcycle: "\eb1a";
$fa-icon-solid-mosquito: "\eb1b";
$fa-icon-solid-mosquito-net: "\eb1c";
$fa-icon-solid-mosque: "\eb1d";
$fa-icon-solid-mortar-pestle: "\eb1e";
$fa-icon-solid-moon: "\eb1f";
$fa-icon-solid-monument: "\eb20";
$fa-icon-solid-money-check: "\eb21";
$fa-icon-solid-money-check-dollar: "\eb22";
$fa-icon-solid-money-bills: "\eb23";
$fa-icon-solid-money-bill: "\eb24";
$fa-icon-solid-money-bill-wheat: "\eb25";
$fa-icon-solid-money-bill-wave: "\eb26";
$fa-icon-solid-money-bill-trend-up: "\eb27";
$fa-icon-solid-money-bill-transfer: "\eb28";
$fa-icon-solid-money-bill-1: "\eb29";
$fa-icon-solid-money-bill-1-wave: "\eb2a";
$fa-icon-solid-mobile: "\eb2b";
$fa-icon-solid-mobile-screen: "\eb2c";
$fa-icon-solid-mobile-screen-button: "\eb2d";
$fa-icon-solid-mobile-retro: "\eb2e";
$fa-icon-solid-mobile-button: "\eb2f";
$fa-icon-solid-mitten: "\eb30";
$fa-icon-solid-minus: "\eb31";
$fa-icon-solid-minimize: "\eb32";
$fa-icon-solid-mill-sign: "\eb33";
$fa-icon-solid-microscope: "\eb34";
$fa-icon-solid-microphone: "\eb35";
$fa-icon-solid-microphone-slash: "\eb36";
$fa-icon-solid-microphone-lines: "\eb37";
$fa-icon-solid-microphone-lines-slash: "\eb38";
$fa-icon-solid-microchip: "\eb39";
$fa-icon-solid-meteor: "\eb3a";
$fa-icon-solid-message: "\eb3b";
$fa-icon-solid-mercury: "\eb3c";
$fa-icon-solid-menorah: "\eb3d";
$fa-icon-solid-memory: "\eb3e";
$fa-icon-solid-medal: "\eb3f";
$fa-icon-solid-maximize: "\eb40";
$fa-icon-solid-mattress-pillow: "\eb41";
$fa-icon-solid-masks-theater: "\eb42";
$fa-icon-solid-mask: "\eb43";
$fa-icon-solid-mask-ventilator: "\eb44";
$fa-icon-solid-mask-face: "\eb45";
$fa-icon-solid-martini-glass: "\eb46";
$fa-icon-solid-martini-glass-empty: "\eb47";
$fa-icon-solid-martini-glass-citrus: "\eb48";
$fa-icon-solid-mars: "\eb49";
$fa-icon-solid-mars-stroke: "\eb4a";
$fa-icon-solid-mars-stroke-up: "\eb4b";
$fa-icon-solid-mars-stroke-right: "\eb4c";
$fa-icon-solid-mars-double: "\eb4d";
$fa-icon-solid-mars-and-venus: "\eb4e";
$fa-icon-solid-mars-and-venus-burst: "\eb4f";
$fa-icon-solid-marker: "\eb50";
$fa-icon-solid-map: "\eb51";
$fa-icon-solid-map-pin: "\eb52";
$fa-icon-solid-map-location: "\eb53";
$fa-icon-solid-map-location-dot: "\eb54";
$fa-icon-solid-manat-sign: "\eb55";
$fa-icon-solid-magnifying-glass: "\eb56";
$fa-icon-solid-magnifying-glass-plus: "\eb57";
$fa-icon-solid-magnifying-glass-minus: "\eb58";
$fa-icon-solid-magnifying-glass-location: "\eb59";
$fa-icon-solid-magnifying-glass-dollar: "\eb5a";
$fa-icon-solid-magnifying-glass-chart: "\eb5b";
$fa-icon-solid-magnifying-glass-arrow-right: "\eb5c";
$fa-icon-solid-magnet: "\eb5d";
$fa-icon-solid-m: "\eb5e";
$fa-icon-solid-lungs: "\eb5f";
$fa-icon-solid-lungs-virus: "\eb60";
$fa-icon-solid-locust: "\eb61";
$fa-icon-solid-lock: "\eb62";
$fa-icon-solid-lock-open: "\eb63";
$fa-icon-solid-location-pin: "\eb64";
$fa-icon-solid-location-pin-lock: "\eb65";
$fa-icon-solid-location-dot: "\eb66";
$fa-icon-solid-location-crosshairs: "\eb67";
$fa-icon-solid-location-arrow: "\eb68";
$fa-icon-solid-litecoin-sign: "\eb69";
$fa-icon-solid-list: "\eb6a";
$fa-icon-solid-list-ul: "\eb6b";
$fa-icon-solid-list-ol: "\eb6c";
$fa-icon-solid-list-check: "\eb6d";
$fa-icon-solid-lira-sign: "\eb6e";
$fa-icon-solid-link: "\eb6f";
$fa-icon-solid-link-slash: "\eb70";
$fa-icon-solid-lines-leaning: "\eb71";
$fa-icon-solid-lightbulb: "\eb72";
$fa-icon-solid-life-ring: "\eb73";
$fa-icon-solid-less-than: "\eb74";
$fa-icon-solid-less-than-equal: "\eb75";
$fa-icon-solid-lemon: "\eb76";
$fa-icon-solid-left-right: "\eb77";
$fa-icon-solid-left-long: "\eb78";
$fa-icon-solid-leaf: "\eb79";
$fa-icon-solid-layer-group: "\eb7a";
$fa-icon-solid-lari-sign: "\eb7b";
$fa-icon-solid-laptop: "\eb7c";
$fa-icon-solid-laptop-medical: "\eb7d";
$fa-icon-solid-laptop-file: "\eb7e";
$fa-icon-solid-laptop-code: "\eb7f";
$fa-icon-solid-language: "\eb80";
$fa-icon-solid-landmark: "\eb81";
$fa-icon-solid-landmark-flag: "\eb82";
$fa-icon-solid-landmark-dome: "\eb83";
$fa-icon-solid-land-mine-on: "\eb84";
$fa-icon-solid-l: "\eb85";
$fa-icon-solid-kiwi-bird: "\eb86";
$fa-icon-solid-kitchen-set: "\eb87";
$fa-icon-solid-kit-medical: "\eb88";
$fa-icon-solid-kip-sign: "\eb89";
$fa-icon-solid-khanda: "\eb8a";
$fa-icon-solid-keyboard: "\eb8b";
$fa-icon-solid-key: "\eb8c";
$fa-icon-solid-kaaba: "\eb8d";
$fa-icon-solid-k: "\eb8e";
$fa-icon-solid-jug-detergent: "\eb8f";
$fa-icon-solid-joint: "\eb90";
$fa-icon-solid-jet-fighter: "\eb91";
$fa-icon-solid-jet-fighter-up: "\eb92";
$fa-icon-solid-jedi: "\eb93";
$fa-icon-solid-jar: "\eb94";
$fa-icon-solid-jar-wheat: "\eb95";
$fa-icon-solid-j: "\eb96";
$fa-icon-solid-italic: "\eb97";
$fa-icon-solid-info: "\eb98";
$fa-icon-solid-infinity: "\eb99";
$fa-icon-solid-industry: "\eb9a";
$fa-icon-solid-indian-rupee-sign: "\eb9b";
$fa-icon-solid-indent: "\eb9c";
$fa-icon-solid-inbox: "\eb9d";
$fa-icon-solid-images: "\eb9e";
$fa-icon-solid-image: "\eb9f";
$fa-icon-solid-image-portrait: "\eba0";
$fa-icon-solid-igloo: "\eba1";
$fa-icon-solid-id-card: "\eba2";
$fa-icon-solid-id-card-clip: "\eba3";
$fa-icon-solid-id-badge: "\eba4";
$fa-icon-solid-icons: "\eba5";
$fa-icon-solid-icicles: "\eba6";
$fa-icon-solid-ice-cream: "\eba7";
$fa-icon-solid-i: "\eba8";
$fa-icon-solid-i-cursor: "\eba9";
$fa-icon-solid-hurricane: "\ebaa";
$fa-icon-solid-hryvnia-sign: "\ebab";
$fa-icon-solid-house: "\ebac";
$fa-icon-solid-house-user: "\ebad";
$fa-icon-solid-house-tsunami: "\ebae";
$fa-icon-solid-house-signal: "\ebaf";
$fa-icon-solid-house-medical: "\ebb0";
$fa-icon-solid-house-medical-flag: "\ebb1";
$fa-icon-solid-house-medical-circle-xmark: "\ebb2";
$fa-icon-solid-house-medical-circle-exclamation: "\ebb3";
$fa-icon-solid-house-medical-circle-check: "\ebb4";
$fa-icon-solid-house-lock: "\ebb5";
$fa-icon-solid-house-laptop: "\ebb6";
$fa-icon-solid-house-flood-water: "\ebb7";
$fa-icon-solid-house-flood-water-circle-arrow-right: "\ebb8";
$fa-icon-solid-house-flag: "\ebb9";
$fa-icon-solid-house-fire: "\ebba";
$fa-icon-solid-house-crack: "\ebbb";
$fa-icon-solid-house-circle-xmark: "\ebbc";
$fa-icon-solid-house-circle-exclamation: "\ebbd";
$fa-icon-solid-house-circle-check: "\ebbe";
$fa-icon-solid-house-chimney: "\ebbf";
$fa-icon-solid-house-chimney-window: "\ebc0";
$fa-icon-solid-house-chimney-user: "\ebc1";
$fa-icon-solid-house-chimney-medical: "\ebc2";
$fa-icon-solid-house-chimney-crack: "\ebc3";
$fa-icon-solid-hourglass: "\ebc4";
$fa-icon-solid-hourglass-start: "\ebc5";
$fa-icon-solid-hourglass-half: "\ebc6";
$fa-icon-solid-hourglass-end: "\ebc7";
$fa-icon-solid-hotel: "\ebc8";
$fa-icon-solid-hotdog: "\ebc9";
$fa-icon-solid-hot-tub-person: "\ebca";
$fa-icon-solid-hospital: "\ebcb";
$fa-icon-solid-hospital-user: "\ebcc";
$fa-icon-solid-horse: "\ebcd";
$fa-icon-solid-horse-head: "\ebce";
$fa-icon-solid-holly-berry: "\ebcf";
$fa-icon-solid-hockey-puck: "\ebd0";
$fa-icon-solid-hippo: "\ebd1";
$fa-icon-solid-hill-rockslide: "\ebd2";
$fa-icon-solid-hill-avalanche: "\ebd3";
$fa-icon-solid-highlighter: "\ebd4";
$fa-icon-solid-helmet-un: "\ebd5";
$fa-icon-solid-helicopter: "\ebd6";
$fa-icon-solid-helmet-safety: "\ebd7";
$fa-icon-solid-helicopter-symbol: "\ebd8";
$fa-icon-solid-heart: "\ebd9";
$fa-icon-solid-heart-pulse: "\ebda";
$fa-icon-solid-heart-crack: "\ebdb";
$fa-icon-solid-heart-circle-xmark: "\ebdc";
$fa-icon-solid-heart-circle-plus: "\ebdd";
$fa-icon-solid-heart-circle-minus: "\ebde";
$fa-icon-solid-heart-circle-exclamation: "\ebdf";
$fa-icon-solid-heart-circle-check: "\ebe0";
$fa-icon-solid-heart-circle-bolt: "\ebe1";
$fa-icon-solid-headset: "\ebe2";
$fa-icon-solid-headphones: "\ebe3";
$fa-icon-solid-headphones-simple: "\ebe4";
$fa-icon-solid-heading: "\ebe5";
$fa-icon-solid-head-side-virus: "\ebe6";
$fa-icon-solid-head-side-mask: "\ebe7";
$fa-icon-solid-head-side-cough: "\ebe8";
$fa-icon-solid-head-side-cough-slash: "\ebe9";
$fa-icon-solid-hat-wizard: "\ebea";
$fa-icon-solid-hat-cowboy: "\ebeb";
$fa-icon-solid-hat-cowboy-side: "\ebec";
$fa-icon-solid-hashtag: "\ebed";
$fa-icon-solid-hard-drive: "\ebee";
$fa-icon-solid-hanukiah: "\ebef";
$fa-icon-solid-handshake: "\ebf0";
$fa-icon-solid-handshake-slash: "\ebf1";
$fa-icon-solid-handshake-simple: "\ebf2";
$fa-icon-solid-handshake-simple-slash: "\ebf3";
$fa-icon-solid-handshake-angle: "\ebf4";
$fa-icon-solid-hands: "\ebf5";
$fa-icon-solid-hands-praying: "\ebf6";
$fa-icon-solid-hands-holding: "\ebf7";
$fa-icon-solid-hands-holding-circle: "\ebf8";
$fa-icon-solid-hands-holding-child: "\ebf9";
$fa-icon-solid-hands-clapping: "\ebfa";
$fa-icon-solid-hands-bubbles: "\ebfb";
$fa-icon-solid-hands-bound: "\ebfc";
$fa-icon-solid-hands-asl-interpreting: "\ebfd";
$fa-icon-solid-handcuffs: "\ebfe";
$fa-icon-solid-hand: "\ebff";
$fa-icon-solid-hand-spock: "\ec00";
$fa-icon-solid-hand-sparkles: "\ec01";
$fa-icon-solid-hand-scissors: "\ec02";
$fa-icon-solid-hand-pointer: "\ec03";
$fa-icon-solid-hand-point-up: "\ec04";
$fa-icon-solid-hand-point-right: "\ec05";
$fa-icon-solid-hand-point-left: "\ec06";
$fa-icon-solid-hand-point-down: "\ec07";
$fa-icon-solid-hand-peace: "\ec08";
$fa-icon-solid-hand-middle-finger: "\ec09";
$fa-icon-solid-hand-lizard: "\ec0a";
$fa-icon-solid-hand-holding: "\ec0b";
$fa-icon-solid-hand-holding-medical: "\ec0c";
$fa-icon-solid-hand-holding-heart: "\ec0d";
$fa-icon-solid-hand-holding-hand: "\ec0e";
$fa-icon-solid-hand-holding-droplet: "\ec0f";
$fa-icon-solid-hand-holding-dollar: "\ec10";
$fa-icon-solid-hand-fist: "\ec11";
$fa-icon-solid-hand-dots: "\ec12";
$fa-icon-solid-hand-back-fist: "\ec13";
$fa-icon-solid-hamsa: "\ec14";
$fa-icon-solid-hammer: "\ec15";
$fa-icon-solid-h: "\ec16";
$fa-icon-solid-gun: "\ec17";
$fa-icon-solid-guitar: "\ec18";
$fa-icon-solid-guarani-sign: "\ec19";
$fa-icon-solid-group-arrows-rotate: "\ec1a";
$fa-icon-solid-grip: "\ec1b";
$fa-icon-solid-grip-vertical: "\ec1c";
$fa-icon-solid-grip-lines: "\ec1d";
$fa-icon-solid-grip-lines-vertical: "\ec1e";
$fa-icon-solid-greater-than: "\ec1f";
$fa-icon-solid-greater-than-equal: "\ec20";
$fa-icon-solid-graduation-cap: "\ec21";
$fa-icon-solid-gopuram: "\ec22";
$fa-icon-solid-golf-ball-tee: "\ec23";
$fa-icon-solid-globe: "\ec24";
$fa-icon-solid-glasses: "\ec25";
$fa-icon-solid-glass-water: "\ec26";
$fa-icon-solid-glass-water-droplet: "\ec27";
$fa-icon-solid-gifts: "\ec28";
$fa-icon-solid-gift: "\ec29";
$fa-icon-solid-ghost: "\ec2a";
$fa-icon-solid-genderless: "\ec2b";
$fa-icon-solid-gem: "\ec2c";
$fa-icon-solid-gears: "\ec2d";
$fa-icon-solid-gear: "\ec2e";
$fa-icon-solid-gavel: "\ec2f";
$fa-icon-solid-gauge: "\ec30";
$fa-icon-solid-gauge-simple: "\ec31";
$fa-icon-solid-gauge-simple-high: "\ec32";
$fa-icon-solid-gauge-high: "\ec33";
$fa-icon-solid-gas-pump: "\ec34";
$fa-icon-solid-gamepad: "\ec35";
$fa-icon-solid-g: "\ec36";
$fa-icon-solid-futbol: "\ec37";
$fa-icon-solid-frog: "\ec38";
$fa-icon-solid-franc-sign: "\ec39";
$fa-icon-solid-forward: "\ec3a";
$fa-icon-solid-forward-step: "\ec3b";
$fa-icon-solid-forward-fast: "\ec3c";
$fa-icon-solid-football: "\ec3d";
$fa-icon-solid-font: "\ec3e";
$fa-icon-solid-font-awesome: "\ec3f";
$fa-icon-solid-folder: "\ec40";
$fa-icon-solid-folder-tree: "\ec41";
$fa-icon-solid-folder-plus: "\ec42";
$fa-icon-solid-folder-open: "\ec43";
$fa-icon-solid-folder-minus: "\ec44";
$fa-icon-solid-folder-closed: "\ec45";
$fa-icon-solid-florin-sign: "\ec46";
$fa-icon-solid-floppy-disk: "\ec47";
$fa-icon-solid-flask: "\ec48";
$fa-icon-solid-flask-vial: "\ec49";
$fa-icon-solid-flag: "\ec4a";
$fa-icon-solid-flag-usa: "\ec4b";
$fa-icon-solid-flag-checkered: "\ec4c";
$fa-icon-solid-fish: "\ec4d";
$fa-icon-solid-fish-fins: "\ec4e";
$fa-icon-solid-fire: "\ec4f";
$fa-icon-solid-fire-flame-simple: "\ec50";
$fa-icon-solid-fire-flame-curved: "\ec51";
$fa-icon-solid-fire-extinguisher: "\ec52";
$fa-icon-solid-fire-burner: "\ec53";
$fa-icon-solid-fingerprint: "\ec54";
$fa-icon-solid-filter: "\ec55";
$fa-icon-solid-filter-circle-xmark: "\ec56";
$fa-icon-solid-filter-circle-dollar: "\ec57";
$fa-icon-solid-film: "\ec58";
$fa-icon-solid-fill: "\ec59";
$fa-icon-solid-fill-drip: "\ec5a";
$fa-icon-solid-file: "\ec5b";
$fa-icon-solid-file-zipper: "\ec5c";
$fa-icon-solid-file-word: "\ec5d";
$fa-icon-solid-file-waveform: "\ec5e";
$fa-icon-solid-file-video: "\ec5f";
$fa-icon-solid-file-signature: "\ec60";
$fa-icon-solid-file-shield: "\ec61";
$fa-icon-solid-file-prescription: "\ec62";
$fa-icon-solid-file-powerpoint: "\ec63";
$fa-icon-solid-file-pen: "\ec64";
$fa-icon-solid-file-pdf: "\ec65";
$fa-icon-solid-file-medical: "\ec66";
$fa-icon-solid-file-lines: "\ec67";
$fa-icon-solid-file-invoice: "\ec68";
$fa-icon-solid-file-invoice-dollar: "\ec69";
$fa-icon-solid-file-import: "\ec6a";
$fa-icon-solid-file-image: "\ec6b";
$fa-icon-solid-file-export: "\ec6c";
$fa-icon-solid-file-excel: "\ec6d";
$fa-icon-solid-file-csv: "\ec6e";
$fa-icon-solid-file-contract: "\ec6f";
$fa-icon-solid-file-code: "\ec70";
$fa-icon-solid-file-circle-xmark: "\ec71";
$fa-icon-solid-file-circle-question: "\ec72";
$fa-icon-solid-file-circle-plus: "\ec73";
$fa-icon-solid-file-circle-minus: "\ec74";
$fa-icon-solid-file-circle-exclamation: "\ec75";
$fa-icon-solid-file-circle-check: "\ec76";
$fa-icon-solid-file-audio: "\ec77";
$fa-icon-solid-file-arrow-up: "\ec78";
$fa-icon-solid-file-arrow-down: "\ec79";
$fa-icon-solid-ferry: "\ec7a";
$fa-icon-solid-feather: "\ec7b";
$fa-icon-solid-feather-pointed: "\ec7c";
$fa-icon-solid-fax: "\ec7d";
$fa-icon-solid-faucet: "\ec7e";
$fa-icon-solid-faucet-drip: "\ec7f";
$fa-icon-solid-fan: "\ec80";
$fa-icon-solid-face-tired: "\ec81";
$fa-icon-solid-face-surprise: "\ec82";
$fa-icon-solid-face-smile: "\ec83";
$fa-icon-solid-face-smile-wink: "\ec84";
$fa-icon-solid-face-smile-beam: "\ec85";
$fa-icon-solid-face-sad-tear: "\ec86";
$fa-icon-solid-face-sad-cry: "\ec87";
$fa-icon-solid-face-rolling-eyes: "\ec88";
$fa-icon-solid-face-meh: "\ec89";
$fa-icon-solid-face-meh-blank: "\ec8a";
$fa-icon-solid-face-laugh: "\ec8b";
$fa-icon-solid-face-laugh-wink: "\ec8c";
$fa-icon-solid-face-laugh-squint: "\ec8d";
$fa-icon-solid-face-laugh-beam: "\ec8e";
$fa-icon-solid-face-kiss: "\ec8f";
$fa-icon-solid-face-kiss-wink-heart: "\ec90";
$fa-icon-solid-face-kiss-beam: "\ec91";
$fa-icon-solid-face-grin: "\ec92";
$fa-icon-solid-face-grin-wink: "\ec93";
$fa-icon-solid-face-grin-wide: "\ec94";
$fa-icon-solid-face-grin-tongue: "\ec95";
$fa-icon-solid-face-grin-tongue-wink: "\ec96";
$fa-icon-solid-face-grin-tongue-squint: "\ec97";
$fa-icon-solid-face-grin-tears: "\ec98";
$fa-icon-solid-face-grin-stars: "\ec99";
$fa-icon-solid-face-grin-squint: "\ec9a";
$fa-icon-solid-face-grin-squint-tears: "\ec9b";
$fa-icon-solid-face-grin-hearts: "\ec9c";
$fa-icon-solid-face-grin-beam: "\ec9d";
$fa-icon-solid-face-grin-beam-sweat: "\ec9e";
$fa-icon-solid-face-grimace: "\ec9f";
$fa-icon-solid-face-frown: "\eca0";
$fa-icon-solid-face-frown-open: "\eca1";
$fa-icon-solid-face-flushed: "\eca2";
$fa-icon-solid-face-dizzy: "\eca3";
$fa-icon-solid-face-angry: "\eca4";
$fa-icon-solid-f: "\eca5";
$fa-icon-solid-eye: "\eca6";
$fa-icon-solid-eye-slash: "\eca7";
$fa-icon-solid-eye-low-vision: "\eca8";
$fa-icon-solid-eye-dropper: "\eca9";
$fa-icon-solid-explosion: "\ecaa";
$fa-icon-solid-expand: "\ecab";
$fa-icon-solid-exclamation: "\ecac";
$fa-icon-solid-euro-sign: "\ecad";
$fa-icon-solid-ethernet: "\ecae";
$fa-icon-solid-eraser: "\ecaf";
$fa-icon-solid-equals: "\ecb0";
$fa-icon-solid-envelopes-bulk: "\ecb1";
$fa-icon-solid-envelope: "\ecb2";
$fa-icon-solid-envelope-open: "\ecb3";
$fa-icon-solid-envelope-open-text: "\ecb4";
$fa-icon-solid-envelope-circle-check: "\ecb5";
$fa-icon-solid-ellipsis: "\ecb6";
$fa-icon-solid-ellipsis-vertical: "\ecb7";
$fa-icon-solid-elevator: "\ecb8";
$fa-icon-solid-eject: "\ecb9";
$fa-icon-solid-egg: "\ecba";
$fa-icon-solid-earth-oceania: "\ecbb";
$fa-icon-solid-earth-europe: "\ecbc";
$fa-icon-solid-earth-asia: "\ecbd";
$fa-icon-solid-earth-americas: "\ecbe";
$fa-icon-solid-earth-africa: "\ecbf";
$fa-icon-solid-ear-listen: "\ecc0";
$fa-icon-solid-ear-deaf: "\ecc1";
$fa-icon-solid-e: "\ecc2";
$fa-icon-solid-dungeon: "\ecc3";
$fa-icon-solid-dumpster: "\ecc4";
$fa-icon-solid-dumpster-fire: "\ecc5";
$fa-icon-solid-dumbbell: "\ecc6";
$fa-icon-solid-drumstick-bite: "\ecc7";
$fa-icon-solid-drum: "\ecc8";
$fa-icon-solid-drum-steelpan: "\ecc9";
$fa-icon-solid-droplet: "\ecca";
$fa-icon-solid-droplet-slash: "\eccb";
$fa-icon-solid-draw-polygon: "\eccc";
$fa-icon-solid-dragon: "\eccd";
$fa-icon-solid-download: "\ecce";
$fa-icon-solid-down-long: "\eccf";
$fa-icon-solid-down-left-and-up-right-to-center: "\ecd0";
$fa-icon-solid-dove: "\ecd1";
$fa-icon-solid-door-open: "\ecd2";
$fa-icon-solid-door-closed: "\ecd3";
$fa-icon-solid-dong-sign: "\ecd4";
$fa-icon-solid-dolly: "\ecd5";
$fa-icon-solid-dollar-sign: "\ecd6";
$fa-icon-solid-dog: "\ecd7";
$fa-icon-solid-dna: "\ecd8";
$fa-icon-solid-divide: "\ecd9";
$fa-icon-solid-display: "\ecda";
$fa-icon-solid-disease: "\ecdb";
$fa-icon-solid-dice: "\ecdc";
$fa-icon-solid-dice-two: "\ecdd";
$fa-icon-solid-dice-three: "\ecde";
$fa-icon-solid-dice-six: "\ecdf";
$fa-icon-solid-dice-one: "\ece0";
$fa-icon-solid-dice-four: "\ece1";
$fa-icon-solid-dice-five: "\ece2";
$fa-icon-solid-dice-d6: "\ece3";
$fa-icon-solid-dice-d20: "\ece4";
$fa-icon-solid-diamond: "\ece5";
$fa-icon-solid-diamond-turn-right: "\ece6";
$fa-icon-solid-diagram-successor: "\ece7";
$fa-icon-solid-diagram-project: "\ece8";
$fa-icon-solid-diagram-predecessor: "\ece9";
$fa-icon-solid-diagram-next: "\ecea";
$fa-icon-solid-dharmachakra: "\eceb";
$fa-icon-solid-desktop: "\ecec";
$fa-icon-solid-democrat: "\eced";
$fa-icon-solid-delete-left: "\ecee";
$fa-icon-solid-database: "\ecef";
$fa-icon-solid-d: "\ecf0";
$fa-icon-solid-cubes: "\ecf1";
$fa-icon-solid-cubes-stacked: "\ecf2";
$fa-icon-solid-cube: "\ecf3";
$fa-icon-solid-cruzeiro-sign: "\ecf4";
$fa-icon-solid-crutch: "\ecf5";
$fa-icon-solid-crown: "\ecf6";
$fa-icon-solid-crow: "\ecf7";
$fa-icon-solid-crosshairs: "\ecf8";
$fa-icon-solid-cross: "\ecf9";
$fa-icon-solid-crop: "\ecfa";
$fa-icon-solid-crop-simple: "\ecfb";
$fa-icon-solid-credit-card: "\ecfc";
$fa-icon-solid-cow: "\ecfd";
$fa-icon-solid-couch: "\ecfe";
$fa-icon-solid-copyright: "\ecff";
$fa-icon-solid-copy: "\ed00";
$fa-icon-solid-cookie: "\ed01";
$fa-icon-solid-cookie-bite: "\ed02";
$fa-icon-solid-computer: "\ed03";
$fa-icon-solid-computer-mouse: "\ed04";
$fa-icon-solid-compress: "\ed05";
$fa-icon-solid-compass: "\ed06";
$fa-icon-solid-compass-drafting: "\ed07";
$fa-icon-solid-compact-disc: "\ed08";
$fa-icon-solid-comments: "\ed09";
$fa-icon-solid-comments-dollar: "\ed0a";
$fa-icon-solid-comment: "\ed0b";
$fa-icon-solid-comment-sms: "\ed0c";
$fa-icon-solid-comment-slash: "\ed0d";
$fa-icon-solid-comment-medical: "\ed0e";
$fa-icon-solid-comment-dots: "\ed0f";
$fa-icon-solid-comment-dollar: "\ed10";
$fa-icon-solid-colon-sign: "\ed11";
$fa-icon-solid-coins: "\ed12";
$fa-icon-solid-code: "\ed13";
$fa-icon-solid-code-pull-request: "\ed14";
$fa-icon-solid-code-merge: "\ed15";
$fa-icon-solid-code-fork: "\ed16";
$fa-icon-solid-code-compare: "\ed17";
$fa-icon-solid-code-commit: "\ed18";
$fa-icon-solid-code-branch: "\ed19";
$fa-icon-solid-clover: "\ed1a";
$fa-icon-solid-cloud: "\ed1b";
$fa-icon-solid-cloud-sun: "\ed1c";
$fa-icon-solid-cloud-sun-rain: "\ed1d";
$fa-icon-solid-cloud-showers-water: "\ed1e";
$fa-icon-solid-cloud-showers-heavy: "\ed1f";
$fa-icon-solid-cloud-rain: "\ed20";
$fa-icon-solid-cloud-moon: "\ed21";
$fa-icon-solid-cloud-moon-rain: "\ed22";
$fa-icon-solid-cloud-meatball: "\ed23";
$fa-icon-solid-cloud-bolt: "\ed24";
$fa-icon-solid-cloud-arrow-up: "\ed25";
$fa-icon-solid-cloud-arrow-down: "\ed26";
$fa-icon-solid-closed-captioning: "\ed27";
$fa-icon-solid-clone: "\ed28";
$fa-icon-solid-clock: "\ed29";
$fa-icon-solid-clock-rotate-left: "\ed2a";
$fa-icon-solid-clipboard: "\ed2b";
$fa-icon-solid-clipboard-user: "\ed2c";
$fa-icon-solid-clipboard-question: "\ed2d";
$fa-icon-solid-clipboard-list: "\ed2e";
$fa-icon-solid-clipboard-check: "\ed2f";
$fa-icon-solid-clapperboard: "\ed30";
$fa-icon-solid-city: "\ed31";
$fa-icon-solid-circle: "\ed32";
$fa-icon-solid-circle-xmark: "\ed33";
$fa-icon-solid-circle-user: "\ed34";
$fa-icon-solid-circle-up: "\ed35";
$fa-icon-solid-circle-stop: "\ed36";
$fa-icon-solid-circle-right: "\ed37";
$fa-icon-solid-circle-radiation: "\ed38";
$fa-icon-solid-circle-question: "\ed39";
$fa-icon-solid-circle-plus: "\ed3a";
$fa-icon-solid-circle-play: "\ed3b";
$fa-icon-solid-circle-pause: "\ed3c";
$fa-icon-solid-circle-notch: "\ed3d";
$fa-icon-solid-circle-nodes: "\ed3e";
$fa-icon-solid-circle-minus: "\ed3f";
$fa-icon-solid-circle-left: "\ed40";
$fa-icon-solid-circle-info: "\ed41";
$fa-icon-solid-circle-h: "\ed42";
$fa-icon-solid-circle-half-stroke: "\ed43";
$fa-icon-solid-circle-exclamation: "\ed44";
$fa-icon-solid-circle-down: "\ed45";
$fa-icon-solid-circle-dot: "\ed46";
$fa-icon-solid-circle-dollar-to-slot: "\ed47";
$fa-icon-solid-circle-chevron-up: "\ed48";
$fa-icon-solid-circle-chevron-right: "\ed49";
$fa-icon-solid-circle-chevron-left: "\ed4a";
$fa-icon-solid-circle-chevron-down: "\ed4b";
$fa-icon-solid-circle-check: "\ed4c";
$fa-icon-solid-circle-arrow-up: "\ed4d";
$fa-icon-solid-circle-arrow-right: "\ed4e";
$fa-icon-solid-circle-arrow-left: "\ed4f";
$fa-icon-solid-circle-arrow-down: "\ed50";
$fa-icon-solid-church: "\ed51";
$fa-icon-solid-children: "\ed52";
$fa-icon-solid-child: "\ed53";
$fa-icon-solid-child-rifle: "\ed54";
$fa-icon-solid-child-reaching: "\ed55";
$fa-icon-solid-child-dress: "\ed56";
$fa-icon-solid-chevron-up: "\ed57";
$fa-icon-solid-chevron-right: "\ed58";
$fa-icon-solid-chevron-left: "\ed59";
$fa-icon-solid-chevron-down: "\ed5a";
$fa-icon-solid-chess: "\ed5b";
$fa-icon-solid-chess-rook: "\ed5c";
$fa-icon-solid-chess-queen: "\ed5d";
$fa-icon-solid-chess-pawn: "\ed5e";
$fa-icon-solid-chess-knight: "\ed5f";
$fa-icon-solid-chess-king: "\ed60";
$fa-icon-solid-chess-board: "\ed61";
$fa-icon-solid-chess-bishop: "\ed62";
$fa-icon-solid-cheese: "\ed63";
$fa-icon-solid-check: "\ed64";
$fa-icon-solid-check-to-slot: "\ed65";
$fa-icon-solid-check-double: "\ed66";
$fa-icon-solid-chart-simple: "\ed67";
$fa-icon-solid-chart-pie: "\ed68";
$fa-icon-solid-chart-line: "\ed69";
$fa-icon-solid-chart-gantt: "\ed6a";
$fa-icon-solid-chart-column: "\ed6b";
$fa-icon-solid-chart-bar: "\ed6c";
$fa-icon-solid-chart-area: "\ed6d";
$fa-icon-solid-charging-station: "\ed6e";
$fa-icon-solid-champagne-glasses: "\ed6f";
$fa-icon-solid-chalkboard: "\ed70";
$fa-icon-solid-chalkboard-user: "\ed71";
$fa-icon-solid-chair: "\ed72";
$fa-icon-solid-certificate: "\ed73";
$fa-icon-solid-cent-sign: "\ed74";
$fa-icon-solid-cedi-sign: "\ed75";
$fa-icon-solid-cat: "\ed76";
$fa-icon-solid-cash-register: "\ed77";
$fa-icon-solid-cart-shopping: "\ed78";
$fa-icon-solid-cart-plus: "\ed79";
$fa-icon-solid-cart-flatbed: "\ed7a";
$fa-icon-solid-cart-flatbed-suitcase: "\ed7b";
$fa-icon-solid-cart-arrow-down: "\ed7c";
$fa-icon-solid-carrot: "\ed7d";
$fa-icon-solid-caret-up: "\ed7e";
$fa-icon-solid-caret-right: "\ed7f";
$fa-icon-solid-caret-left: "\ed80";
$fa-icon-solid-caret-down: "\ed81";
$fa-icon-solid-caravan: "\ed82";
$fa-icon-solid-car: "\ed83";
$fa-icon-solid-car-tunnel: "\ed84";
$fa-icon-solid-car-side: "\ed85";
$fa-icon-solid-car-rear: "\ed86";
$fa-icon-solid-car-on: "\ed87";
$fa-icon-solid-car-burst: "\ed88";
$fa-icon-solid-car-battery: "\ed89";
$fa-icon-solid-capsules: "\ed8a";
$fa-icon-solid-cannabis: "\ed8b";
$fa-icon-solid-candy-cane: "\ed8c";
$fa-icon-solid-campground: "\ed8d";
$fa-icon-solid-camera: "\ed8e";
$fa-icon-solid-camera-rotate: "\ed8f";
$fa-icon-solid-camera-retro: "\ed90";
$fa-icon-solid-calendar: "\ed91";
$fa-icon-solid-calendar-xmark: "\ed92";
$fa-icon-solid-calendar-week: "\ed93";
$fa-icon-solid-calendar-plus: "\ed94";
$fa-icon-solid-calendar-minus: "\ed95";
$fa-icon-solid-calendar-days: "\ed96";
$fa-icon-solid-calendar-day: "\ed97";
$fa-icon-solid-calendar-check: "\ed98";
$fa-icon-solid-calculator: "\ed99";
$fa-icon-solid-cake-candles: "\ed9a";
$fa-icon-solid-cable-car: "\ed9b";
$fa-icon-solid-c: "\ed9c";
$fa-icon-solid-business-time: "\ed9d";
$fa-icon-solid-bus: "\ed9e";
$fa-icon-solid-bus-simple: "\ed9f";
$fa-icon-solid-burst: "\eda0";
$fa-icon-solid-burger: "\eda1";
$fa-icon-solid-bullseye: "\eda2";
$fa-icon-solid-bullhorn: "\eda3";
$fa-icon-solid-building: "\eda4";
$fa-icon-solid-building-wheat: "\eda5";
$fa-icon-solid-building-user: "\eda6";
$fa-icon-solid-building-un: "\eda7";
$fa-icon-solid-building-shield: "\eda8";
$fa-icon-solid-building-ngo: "\eda9";
$fa-icon-solid-building-lock: "\edaa";
$fa-icon-solid-building-flag: "\edab";
$fa-icon-solid-building-columns: "\edac";
$fa-icon-solid-building-circle-xmark: "\edad";
$fa-icon-solid-building-circle-exclamation: "\edae";
$fa-icon-solid-building-circle-check: "\edaf";
$fa-icon-solid-building-circle-arrow-right: "\edb0";
$fa-icon-solid-bugs: "\edb1";
$fa-icon-solid-bug: "\edb2";
$fa-icon-solid-bug-slash: "\edb3";
$fa-icon-solid-bucket: "\edb4";
$fa-icon-solid-brush: "\edb5";
$fa-icon-solid-broom: "\edb6";
$fa-icon-solid-broom-ball: "\edb7";
$fa-icon-solid-briefcase: "\edb8";
$fa-icon-solid-briefcase-medical: "\edb9";
$fa-icon-solid-bridge: "\edba";
$fa-icon-solid-bridge-water: "\edbb";
$fa-icon-solid-bridge-lock: "\edbc";
$fa-icon-solid-bridge-circle-xmark: "\edbd";
$fa-icon-solid-bridge-circle-exclamation: "\edbe";
$fa-icon-solid-bridge-circle-check: "\edbf";
$fa-icon-solid-bread-slice: "\edc0";
$fa-icon-solid-brazilian-real-sign: "\edc1";
$fa-icon-solid-brain: "\edc2";
$fa-icon-solid-braille: "\edc3";
$fa-icon-solid-boxes-stacked: "\edc4";
$fa-icon-solid-boxes-packing: "\edc5";
$fa-icon-solid-box: "\edc6";
$fa-icon-solid-box-tissue: "\edc7";
$fa-icon-solid-box-open: "\edc8";
$fa-icon-solid-box-archive: "\edc9";
$fa-icon-solid-bowling-ball: "\edca";
$fa-icon-solid-bowl-rice: "\edcb";
$fa-icon-solid-bowl-food: "\edcc";
$fa-icon-solid-bottle-water: "\edcd";
$fa-icon-solid-bottle-droplet: "\edce";
$fa-icon-solid-bore-hole: "\edcf";
$fa-icon-solid-border-top-left: "\edd0";
$fa-icon-solid-border-none: "\edd1";
$fa-icon-solid-border-all: "\edd2";
$fa-icon-solid-bookmark: "\edd3";
$fa-icon-solid-book: "\edd4";
$fa-icon-solid-book-tanakh: "\edd5";
$fa-icon-solid-book-skull: "\edd6";
$fa-icon-solid-book-quran: "\edd7";
$fa-icon-solid-book-open: "\edd8";
$fa-icon-solid-book-open-reader: "\edd9";
$fa-icon-solid-book-medical: "\edda";
$fa-icon-solid-book-journal-whills: "\eddb";
$fa-icon-solid-book-bookmark: "\eddc";
$fa-icon-solid-book-bible: "\eddd";
$fa-icon-solid-book-atlas: "\edde";
$fa-icon-solid-bong: "\eddf";
$fa-icon-solid-bone: "\ede0";
$fa-icon-solid-bomb: "\ede1";
$fa-icon-solid-bolt: "\ede2";
$fa-icon-solid-bolt-lightning: "\ede3";
$fa-icon-solid-bold: "\ede4";
$fa-icon-solid-blog: "\ede5";
$fa-icon-solid-blender: "\ede6";
$fa-icon-solid-blender-phone: "\ede7";
$fa-icon-solid-bitcoin-sign: "\ede8";
$fa-icon-solid-biohazard: "\ede9";
$fa-icon-solid-binoculars: "\edea";
$fa-icon-solid-bicycle: "\edeb";
$fa-icon-solid-bezier-curve: "\edec";
$fa-icon-solid-bell: "\eded";
$fa-icon-solid-bell-slash: "\edee";
$fa-icon-solid-bell-concierge: "\edef";
$fa-icon-solid-beer-mug-empty: "\edf0";
$fa-icon-solid-bed: "\edf1";
$fa-icon-solid-bed-pulse: "\edf2";
$fa-icon-solid-battery-three-quarters: "\edf3";
$fa-icon-solid-battery-quarter: "\edf4";
$fa-icon-solid-battery-half: "\edf5";
$fa-icon-solid-battery-full: "\edf6";
$fa-icon-solid-battery-empty: "\edf7";
$fa-icon-solid-bath: "\edf8";
$fa-icon-solid-basketball: "\edf9";
$fa-icon-solid-basket-shopping: "\edfa";
$fa-icon-solid-baseball: "\edfb";
$fa-icon-solid-baseball-bat-ball: "\edfc";
$fa-icon-solid-bars: "\edfd";
$fa-icon-solid-bars-staggered: "\edfe";
$fa-icon-solid-bars-progress: "\edff";
$fa-icon-solid-barcode: "\ee00";
$fa-icon-solid-bandage: "\ee01";
$fa-icon-solid-ban: "\ee02";
$fa-icon-solid-ban-smoking: "\ee03";
$fa-icon-solid-baht-sign: "\ee04";
$fa-icon-solid-bahai: "\ee05";
$fa-icon-solid-bag-shopping: "\ee06";
$fa-icon-solid-bacterium: "\ee07";
$fa-icon-solid-bacteria: "\ee08";
$fa-icon-solid-bacon: "\ee09";
$fa-icon-solid-backward: "\ee0a";
$fa-icon-solid-backward-step: "\ee0b";
$fa-icon-solid-backward-fast: "\ee0c";
$fa-icon-solid-baby: "\ee0d";
$fa-icon-solid-baby-carriage: "\ee0e";
$fa-icon-solid-b: "\ee0f";
$fa-icon-solid-award: "\ee10";
$fa-icon-solid-austral-sign: "\ee11";
$fa-icon-solid-audio-description: "\ee12";
$fa-icon-solid-atom: "\ee13";
$fa-icon-solid-at: "\ee14";
$fa-icon-solid-asterisk: "\ee15";
$fa-icon-solid-arrows-up-to-line: "\ee16";
$fa-icon-solid-arrows-up-down: "\ee17";
$fa-icon-solid-arrows-up-down-left-right: "\ee18";
$fa-icon-solid-arrows-turn-to-dots: "\ee19";
$fa-icon-solid-arrows-turn-right: "\ee1a";
$fa-icon-solid-arrows-to-eye: "\ee1b";
$fa-icon-solid-arrows-to-dot: "\ee1c";
$fa-icon-solid-arrows-to-circle: "\ee1d";
$fa-icon-solid-arrows-split-up-and-left: "\ee1e";
$fa-icon-solid-arrows-spin: "\ee1f";
$fa-icon-solid-arrows-rotate: "\ee20";
$fa-icon-solid-arrows-left-right: "\ee21";
$fa-icon-solid-arrows-left-right-to-line: "\ee22";
$fa-icon-solid-arrows-down-to-people: "\ee23";
$fa-icon-solid-arrows-down-to-line: "\ee24";
$fa-icon-solid-arrow-up: "\ee25";
$fa-icon-solid-arrow-up-z-a: "\ee26";
$fa-icon-solid-arrow-up-wide-short: "\ee27";
$fa-icon-solid-arrow-up-short-wide: "\ee28";
$fa-icon-solid-arrow-up-right-from-square: "\ee29";
$fa-icon-solid-arrow-up-right-dots: "\ee2a";
$fa-icon-solid-arrow-up-long: "\ee2b";
$fa-icon-solid-arrow-up-from-water-pump: "\ee2c";
$fa-icon-solid-arrow-up-from-ground-water: "\ee2d";
$fa-icon-solid-arrow-up-from-bracket: "\ee2e";
$fa-icon-solid-arrow-up-a-z: "\ee2f";
$fa-icon-solid-arrow-up-9-1: "\ee30";
$fa-icon-solid-arrow-up-1-9: "\ee31";
$fa-icon-solid-arrow-turn-up: "\ee32";
$fa-icon-solid-arrow-turn-down: "\ee33";
$fa-icon-solid-arrow-trend-up: "\ee34";
$fa-icon-solid-arrow-trend-down: "\ee35";
$fa-icon-solid-arrow-rotate-right: "\ee36";
$fa-icon-solid-arrow-rotate-left: "\ee37";
$fa-icon-solid-arrow-right: "\ee38";
$fa-icon-solid-arrow-right-to-city: "\ee39";
$fa-icon-solid-arrow-right-to-bracket: "\ee3a";
$fa-icon-solid-arrow-right-long: "\ee3b";
$fa-icon-solid-arrow-right-from-bracket: "\ee3c";
$fa-icon-solid-arrow-right-arrow-left: "\ee3d";
$fa-icon-solid-arrow-pointer: "\ee3e";
$fa-icon-solid-arrow-left: "\ee3f";
$fa-icon-solid-arrow-left-long: "\ee40";
$fa-icon-solid-arrow-down: "\ee41";
$fa-icon-solid-arrow-down-z-a: "\ee42";
$fa-icon-solid-arrow-down-wide-short: "\ee43";
$fa-icon-solid-arrow-down-up-lock: "\ee44";
$fa-icon-solid-arrow-down-up-across-line: "\ee45";
$fa-icon-solid-arrow-down-short-wide: "\ee46";
$fa-icon-solid-arrow-down-long: "\ee47";
$fa-icon-solid-arrow-down-a-z: "\ee48";
$fa-icon-solid-arrow-down-9-1: "\ee49";
$fa-icon-solid-arrow-down-1-9: "\ee4a";
$fa-icon-solid-archway: "\ee4b";
$fa-icon-solid-apple-whole: "\ee4c";
$fa-icon-solid-ankh: "\ee4d";
$fa-icon-solid-angles-up: "\ee4e";
$fa-icon-solid-angles-right: "\ee4f";
$fa-icon-solid-angles-left: "\ee50";
$fa-icon-solid-angles-down: "\ee51";
$fa-icon-solid-angle-up: "\ee52";
$fa-icon-solid-angle-right: "\ee53";
$fa-icon-solid-angle-left: "\ee54";
$fa-icon-solid-angle-down: "\ee55";
$fa-icon-solid-anchor: "\ee56";
$fa-icon-solid-anchor-lock: "\ee57";
$fa-icon-solid-anchor-circle-xmark: "\ee58";
$fa-icon-solid-anchor-circle-exclamation: "\ee59";
$fa-icon-solid-anchor-circle-check: "\ee5a";
$fa-icon-solid-align-right: "\ee5b";
$fa-icon-solid-align-left: "\ee5c";
$fa-icon-solid-align-justify: "\ee5d";
$fa-icon-solid-align-center: "\ee5e";
$fa-icon-solid-address-card: "\ee5f";
$fa-icon-solid-address-book: "\ee60";
$fa-icon-solid-a: "\ee61";
$fa-icon-solid-9: "\ee62";
$fa-icon-solid-8: "\ee63";
$fa-icon-solid-7: "\ee64";
$fa-icon-solid-6: "\ee65";
$fa-icon-solid-5: "\ee66";
$fa-icon-solid-4: "\ee67";
$fa-icon-solid-3: "\ee68";
$fa-icon-solid-2: "\ee69";
$fa-icon-solid-1: "\ee6a";
$fa-icon-solid-0: "\ee6b";