$icomoon-font-family: "FontAwesomeIconsRegular" !default;
$icomoon-font-path: "./src/Assets/fonts/icons/regular/fonts" !default;

$fa-icon-regular-window-restore: "\e902";
$fa-icon-regular-window-minimize: "\e900";
$fa-icon-regular-window-maximize: "\e901";
$fa-icon-regular-user: "\e90c";
$fa-icon-regular-trash-can: "\e90d";
$fa-icon-regular-thumbs-up: "\e90e";
$fa-icon-regular-thumbs-down: "\e90f";
$fa-icon-regular-sun: "\e910";
$fa-icon-regular-star: "\e911";
$fa-icon-regular-star-half: "\e912";
$fa-icon-regular-star-half-stroke: "\e913";
$fa-icon-regular-square: "\e914";
$fa-icon-regular-square-plus: "\e915";
$fa-icon-regular-square-minus: "\e916";
$fa-icon-regular-square-full: "\e917";
$fa-icon-regular-square-check: "\e918";
$fa-icon-regular-square-caret-up: "\e919";
$fa-icon-regular-square-caret-right: "\e91a";
$fa-icon-regular-square-caret-left: "\e903";
$fa-icon-regular-square-caret-down: "\e91b";
$fa-icon-regular-snowflake: "\e91c";
$fa-icon-regular-share-from-square: "\e91d";
$fa-icon-regular-registered: "\e91e";
$fa-icon-regular-rectangle-xmark: "\e91f";
$fa-icon-regular-rectangle-list: "\e920";
$fa-icon-regular-pen-to-square: "\e921";
$fa-icon-regular-paste: "\e922";
$fa-icon-regular-paper-plane: "\e923";
$fa-icon-regular-object-ungroup: "\e924";
$fa-icon-regular-object-group: "\e925";
$fa-icon-regular-note-sticky: "\e926";
$fa-icon-regular-newspaper: "\e927";
$fa-icon-regular-moon: "\e928";
$fa-icon-regular-money-bill-1: "\e929";
$fa-icon-regular-message: "\e92a";
$fa-icon-regular-map: "\e92b";
$fa-icon-regular-lightbulb: "\e904";
$fa-icon-regular-life-ring: "\e92c";
$fa-icon-regular-lemon: "\e92d";
$fa-icon-regular-keyboard: "\e92e";
$fa-icon-regular-images: "\e92f";
$fa-icon-regular-image: "\e930";
$fa-icon-regular-id-card: "\e931";
$fa-icon-regular-id-badge: "\e932";
$fa-icon-regular-hourglass: "\e933";
$fa-icon-regular-hourglass-half: "\e934";
$fa-icon-regular-hospital: "\e935";
$fa-icon-regular-heart: "\e936";
$fa-icon-regular-hard-drive: "\e937";
$fa-icon-regular-handshake: "\e938";
$fa-icon-regular-hand: "\e939";
$fa-icon-regular-hand-spock: "\e93a";
$fa-icon-regular-hand-scissors: "\e93b";
$fa-icon-regular-hand-pointer: "\e93c";
$fa-icon-regular-hand-point-up: "\e905";
$fa-icon-regular-hand-point-right: "\e93d";
$fa-icon-regular-hand-point-left: "\e93e";
$fa-icon-regular-hand-point-down: "\e93f";
$fa-icon-regular-hand-peace: "\e940";
$fa-icon-regular-hand-lizard: "\e941";
$fa-icon-regular-hand-back-fist: "\e942";
$fa-icon-regular-gem: "\e943";
$fa-icon-regular-futbol: "\e944";
$fa-icon-regular-font-awesome: "\e945";
$fa-icon-regular-folder: "\e946";
$fa-icon-regular-folder-open: "\e947";
$fa-icon-regular-folder-closed: "\e948";
$fa-icon-regular-floppy-disk: "\e949";
$fa-icon-regular-flag: "\e94a";
$fa-icon-regular-file: "\e94b";
$fa-icon-regular-file-zipper: "\e94c";
$fa-icon-regular-file-word: "\e94d";
$fa-icon-regular-file-video: "\e906";
$fa-icon-regular-file-powerpoint: "\e94e";
$fa-icon-regular-file-pdf: "\e94f";
$fa-icon-regular-file-lines: "\e950";
$fa-icon-regular-file-image: "\e951";
$fa-icon-regular-file-excel: "\e952";
$fa-icon-regular-file-code: "\e953";
$fa-icon-regular-file-audio: "\e954";
$fa-icon-regular-face-tired: "\e955";
$fa-icon-regular-face-surprise: "\e956";
$fa-icon-regular-face-smile: "\e957";
$fa-icon-regular-face-smile-wink: "\e958";
$fa-icon-regular-face-smile-beam: "\e959";
$fa-icon-regular-face-sad-tear: "\e95a";
$fa-icon-regular-face-sad-cry: "\e95b";
$fa-icon-regular-face-rolling-eyes: "\e95c";
$fa-icon-regular-face-meh: "\e95d";
$fa-icon-regular-face-meh-blank: "\e95e";
$fa-icon-regular-face-laugh: "\e907";
$fa-icon-regular-face-laugh-wink: "\e95f";
$fa-icon-regular-face-laugh-squint: "\e960";
$fa-icon-regular-face-laugh-beam: "\e961";
$fa-icon-regular-face-kiss: "\e962";
$fa-icon-regular-face-kiss-wink-heart: "\e963";
$fa-icon-regular-face-kiss-beam: "\e964";
$fa-icon-regular-face-grin: "\e965";
$fa-icon-regular-face-grin-wink: "\e966";
$fa-icon-regular-face-grin-wide: "\e967";
$fa-icon-regular-face-grin-tongue: "\e968";
$fa-icon-regular-face-grin-tongue-wink: "\e969";
$fa-icon-regular-face-grin-tongue-squint: "\e96a";
$fa-icon-regular-face-grin-tears: "\e96b";
$fa-icon-regular-face-grin-stars: "\e96c";
$fa-icon-regular-face-grin-squint: "\e96d";
$fa-icon-regular-face-grin-squint-tears: "\e96e";
$fa-icon-regular-face-grin-hearts: "\e96f";
$fa-icon-regular-face-grin-beam: "\e908";
$fa-icon-regular-face-grin-beam-sweat: "\e970";
$fa-icon-regular-face-grimace: "\e971";
$fa-icon-regular-face-frown: "\e972";
$fa-icon-regular-face-frown-open: "\e973";
$fa-icon-regular-face-flushed: "\e974";
$fa-icon-regular-face-dizzy: "\e975";
$fa-icon-regular-face-angry: "\e976";
$fa-icon-regular-eye: "\e977";
$fa-icon-regular-eye-slash: "\e978";
$fa-icon-regular-envelope: "\e979";
$fa-icon-regular-envelope-open: "\e97a";
$fa-icon-regular-credit-card: "\e97b";
$fa-icon-regular-copyright: "\e97c";
$fa-icon-regular-copy: "\e97d";
$fa-icon-regular-compass: "\e97e";
$fa-icon-regular-comments: "\e97f";
$fa-icon-regular-comment: "\e980";
$fa-icon-regular-comment-dots: "\e909";
$fa-icon-regular-closed-captioning: "\e981";
$fa-icon-regular-clone: "\e982";
$fa-icon-regular-clock: "\e983";
$fa-icon-regular-clipboard: "\e984";
$fa-icon-regular-circle: "\e985";
$fa-icon-regular-circle-xmark: "\e986";
$fa-icon-regular-circle-user: "\e987";
$fa-icon-regular-circle-stop: "\e988";
$fa-icon-regular-circle-up: "\e989";
$fa-icon-regular-circle-right: "\e98a";
$fa-icon-regular-circle-question: "\e98b";
$fa-icon-regular-circle-play: "\e98c";
$fa-icon-regular-circle-pause: "\e98d";
$fa-icon-regular-circle-left: "\e98e";
$fa-icon-regular-circle-down: "\e98f";
$fa-icon-regular-circle-dot: "\e990";
$fa-icon-regular-chess-rook: "\e991";
$fa-icon-regular-circle-check: "\e90a";
$fa-icon-regular-chess-queen: "\e992";
$fa-icon-regular-chess-king: "\e993";
$fa-icon-regular-chess-pawn: "\e994";
$fa-icon-regular-chess-knight: "\e995";
$fa-icon-regular-chess-bishop: "\e996";
$fa-icon-regular-chart-bar: "\e997";
$fa-icon-regular-calendar: "\e998";
$fa-icon-regular-calendar-xmark: "\e999";
$fa-icon-regular-calendar-plus: "\e99a";
$fa-icon-regular-calendar-minus: "\e99b";
$fa-icon-regular-calendar-days: "\e99c";
$fa-icon-regular-calendar-check: "\e99d";
$fa-icon-regular-bookmark: "\e99e";
$fa-icon-regular-building: "\e99f";
$fa-icon-regular-bell: "\e9a0";
$fa-icon-regular-bell-slash: "\e9a1";
$fa-icon-regular-address-card: "\e9a2";
$fa-icon-regular-address-book: "\e90b";